{% extends 'base_admin.html.twig' %}

{% block title %}Editar Subproceso
{% endblock %}
{% block javascripts %}
	<script src="/assets/js/validacion_edit_subproceso.js"></script>
	<script src="/assets/js/validacion_delete_subproceso.js"></script>
{% endblock %}
{% block body %}
	<div class="container">
		<div class="row">
			<div class="col-12 col-md-6 col-lg-6" style='margin:auto !important'>
				<div class="card">
					<div class="card-header">
						<h3>Subproceso</h3>
					</div>
					<div class="card-body">
						<form id='f1' name='f1' method="POST">
							<div class="row">
								<div class="col-12 col-md-12 col-lg-12">
									<label for="nombre">Categoria</label>
									<select class="form-control" id="categoria" name="categoria" disabled>
										<option value="-99">Seleccione una categoria</option>
										{% for categoria in categorias %}
											{% if categoria.id == subproceso.categoria.id %}
												<option value="{{ categoria.id }}" selected>{{ categoria.nombre }}</option>
											{% else %}
												<option value="{{ categoria.id }}">{{ categoria.nombre }}</option>
											{% endif %}
										{% endfor %}
									</select>
								</div>
							</div>
							<div class="row">
								<div class="col-12 col-md-12 col-lg-12">
									<label for="nombre">Proceso</label>
									<select class="form-control" id="subcategoria" name="subcategoria" disabled>
										<option value="-99">Seleccione un Proceso</option>
										{% for subcategoria in subcategorias %}
											{% if subcategoria.id == subproceso.subcategoria.id %}
												<option value="{{ subcategoria.id }}" selected>{{ subcategoria.nombre }}</option>
											{% else %}
												<option value="{{ subcategoria.id }}">{{ subcategoria.nombre }}</option>
											{% endif %}
										{% endfor %}
									</select>
								</div>
							</div>
							<div class="row">
								<div class="col-12 col-md-12 col-lg-12">
									<label for="nombre">Nombre del Subproceso</label>
									<input type="text" name="nombre" id="nombre" class="form-control" placeholder="Nombre del subproceso" required value='{{ subproceso.nombre }}'>
								</div>
							</div>
							<div class="row">&nbsp;</div>
							<div class="col-12 col-md-12 col-lg-12 text-right">
								<input type="hidden" name="id" id="id" value='{{ subproceso.id }}'>
								<a href="{{ path('app_subproceso_index') }}" title='Regresar al listado'>
									<i class='fas fa-angle-double-left' style='font-size:22px; color:#14626f'></i>
								</a>
								<a href="javascript:guardar()" title='Guardar los Cambios'>
									<i class='fas fa-database' style='font-size:22px; color:#14626f'></i>
								</a>
								<a href="javascript:borrar({{subproceso.id }})" title='Borrar este Proceso'>
									<i class='fas fa-eraser' style='font-size:22px;color:red'></i>
								</a>
							</div>
						</form>
					</div>
				</div>
			</div>
		</div>
	</div>
{% endblock %}
