{% extends 'base_dash.html.twig' %}

{% block title %}Registro
{% endblock %}

{% block body %}
	<h1>Registro</h1>

	<table class="table">
		<tbody>
			<tr>
				<th>Id</th>
				<td>{{ registro.id }}</td>
			</tr>
			<tr>
				<th>Nombre</th>
				<td>{{ registro.nombre }}</td>
			</tr>
			<tr>
				<th>Url</th>
				<td>{{ registro.url }}</td>
			</tr>
		</tbody>
	</table>

	<a href="{{ path('app_registro_index') }}">back to list</a>

	<a href="{{ path('app_registro_edit', {'id': registro.id}) }}">edit</a>

	{{ include('registro/_delete_form.html.twig') }}
{% endblock %}
