{% extends 'base_admin.html.twig' %}

{% block title %}Procesos
{% endblock %}
{% block javascripts %}
	<script src="/assets/js/validacion_index_proceso.js"></script>
	<script src="/assets/js/validacion_delete_proceso.js"></script>
{% endblock %}
{% block body %}
	<div class="container">
		<h1>Procesos</h1>
		<table class="table table-bordered">
			<thead>
				<tr align='center'>
					<th>Id</th>
					<th>Nombre</th>
					<th>Acciones</th>
				</tr>
			</thead>
			<tbody>
				{% set i = 1 %}
				{% for subcategorium in subcategorias %}
					<tr>
						<td class='text-center'>{{ i }}</td>
						<td>{{ subcategorium.nombre }}</td>
						<td align='center'>
							<a href="javascript:mostrar({{subcategorium.id}})" title='Ver detalles del Proceso'>
								<i class='fas fa-glasses' style='font-size:22px; color:#14626f'></i>
							</a>
							<a href="{{ path('app_subcategoria_edit', {'id': subcategorium.id}) }}" title='Editar este Proceso'>
								<i class='far fa-edit' style='font-size:22px; color:#14626f'></i>
							</a>
							<a href="javascript:borrar({{subcategorium.id }})" title='Borrar este Proceso'>
								<i class='fas fa-eraser' style='font-size:22px;color:red'></i>
							</a>
						</td>
					</tr>
					{% set i = i + 1 %}
				{% else %}
					<tr>
						<td colspan="3">No se han definido Procesos</td>
					</tr>
				{% endfor %}
			</tbody>
		</table>
		<div class="text-right">
			<a href="{{ path('app_subcategoria_new2') }}" title='Crear un nuevo Proceso'>
				<i class='fas fa-folder-open' style='font-size:22px ; color:#14626f'></i>
			</a>
		</div>
	</div>

{% endblock %}
