{% extends 'base_admin.html.twig' %}

{% block title %}Listado de Usuarios
{% endblock %}

{% block body %}
	<div class="container">
		<h1>Listado de Usuarios</h1>

		<table class="table table-bordered">
			<thead>
				<tr>
					<th>Id</th>
					<th>Email</th>
					<th>Roles</th>
					<th>Nombre</th>
					<th>Apellido</th>
					<th>Estado</th>
					<th>Nivel</th>
					<th>actions</th>
				</tr>
			</thead>
			<tbody>
				{% set i = 1 %}
				{% for user in users %}
					<tr>
						<td class='text-center'>{{ i }}</td>
						<td>{{ user.email }}</td>
						<td>{{ user.roles ? user.roles|json_encode : '' }}</td>
						<td>{{ user.nombre }}</td>
						<td>{{ user.apellido }}</td>
						<td class='text-center'>
							{% if (user.estado == 1) %}
								Activo
							{% else %}
								Inactivo
							{% endif %}
						</td>
						<td class='text-center'>
							{% if (user.nivel == 5) %}
								Usuario
							{% else %}
								Administrador
							{% endif %}
						</td>
						<td class='text-center'>
							<a href="{{ path('app_user_show', {'id': user.id}) }}" title='Ver detalles de un nuevo usuario'>
								<i class='fas fa-glasses' style='font-size:22px; color:#14626f'></i>
							</a>
							<a href="{{ path('app_user_edit', {'id': user.id}) }}" title='Editar un usuario'>
								<i class='fas fa-user-edit' style='font-size:22px; color:#14626f'></i>
							</a>
						</td>
					</tr>
					{% set i=i+1 %}
				{% else %}
					<tr>
						<td colspan="9">No se han definido usuarios en el sistema</td>
					</tr>
				{% endfor %}
			</tbody>
		</table>
		<div class="text-right">
			<a href="{{ path('app_user_new') }}" title='Crear un nuevo usuario'>
				<i class='fas fa-user-plus' style='font-size:22px; color:#14626f'></i>
			</a>
		</div>
	</div>
{% endblock %}
